apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP_NAME}-environment"
  labels:
    app: "${APP_NAME}"
data:
  SUPERSET_ENV: "${SUPERSET_ENV}"
  SUPERSET_APP_ICON:  "${SUPERSET_APP_ICON}"
  SUPERSET_CACHE_REDIS_SERVICE_HOST: "${SUPERSET_REDIS_HOST}"
  SUPERSET_CACHE_REDIS_SERVICE_PORT:  "${SUPERSET_CACHE_REDIS_SERVICE_PORT}"
  SUPERSET_CACHE_REDIS_DEFAULT_TIMEOUT:  "${SUPERSET_CACHE_REDIS_DEFAULT_TIMEOUT}"
  SUPERSET_DB_HOST: "${SUPERSET_DB_HOST}"
  SUPERSET_DB_NAME: "${SUPERSET_DB_NAME}"
  SUPERSET_DB_USER: "${SUPERSET_DB_USER}"
  SUPERSET_DB_PASSWORD: "${SUPERSET_DB_PASSWORD}"
  SUPERSET_MAPBOX_API_KEY: "${SUPERSET_MAPBOX_API_KEY}"
  SUPERSET_GOOGLE_CREDENTIALS: "${SUPERSET_GOOGLE_CREDENTIALS}"
  SUPERSET_OKTA_CLIENT_ID:  "${SUPERSET_OKTA_CLIENT_ID}"
  SUPERSET_OKTA_CLIENT_SECRET:  "${SUPERSET_OKTA_CLIENT_SECRET}"
  SUPERSET_OKTA_AUTH_URI: "${SUPERSET_OKTA_AUTH_URI}"
  SUPERSET_OKTA_TOKEN_URI:  "${SUPERSET_OKTA_TOKEN_URI}"
  SUPERSET_OKTA_TOKEN_INTROSPECTIVE_URI: "${SUPERSET_OKTA_TOKEN_INTROSPECTIVE_URI}"
  SUPERSET_OKTA_ISSUER: "${SUPERSET_OKTA_ISSUER}"
  SUPERSET_OKTA_USERINFO_URI: "${SUPERSET_OKTA_USERINFO_URI}"
  SUPERSET_OKTA_CLIENT_API: "${SUPERSET_OKTA_CLIENT_API}"
  SUPERSET_SCHEDULED_EMAIL_DEBUG_MODE: "${SUPERSET_SCHEDULED_EMAIL_DEBUG_MODE}"
  SUPERSET_EMAIL_REPORTS_CRON_RESOLUTION: "${SUPERSET_EMAIL_REPORTS_CRON_RESOLUTION}"
  SUPERSET_EMAIL_REPORT_FROM_ADDRESS: "${SUPERSET_EMAIL_REPORT_FROM_ADDRESS}"
  SUPERSET_EMAIL_REPORT_BCC_ADDRESS: "${SUPERSET_EMAIL_REPORT_BCC_ADDRESS}"
  SUPERSET_EMAIL_REPORTS_SUBJECT_PREFIX: "${SUPERSET_EMAIL_REPORTS_SUBJECT_PREFIX}"
  SUPERSET_EMAIL_REPORTS_USER: "${SUPERSET_EMAIL_REPORTS_USER}"
  SUPERSET_SMTP_HOST: "${SUPERSET_EMAIL_REPORTS_SUBJECT_PREFIX}"
  SUPERSET_SMTP_STARTTLS: "${SUPERSET_SMTP_STARTTLS}"
  SUPERSET_SMTP_SSL: "${SUPERSET_SMTP_SSL}"
  SUPERSET_SMTP_USER: "${SUPERSET_SMTP_USER}"
  SUPERSET_SMTP_PORT: "${SUPERSET_SMTP_PORT}"
  SUPERSET_SMTP_PASSWORD: "${SUPERSET_SMTP_PASSWORD}"
  SUPERSET_SMTP_MAIL_FROM: "${SUPERSET_SMTP_MAIL_FROM}"
  SUPERSET_WEBDRIVER_BASEURL: "${SUPERSET_WEBDRIVER_BASEURL}"
  SUPERSET_AUTH_ROLE_PUBLIC: "${SUPERSET_AUTH_ROLE_PUBLIC}"
  SUPERSET_QUERY_SEARCH_LIMIT: "${SUPERSET_QUERY_SEARCH_LIMIT}"
  SUPERSET_ROW_LIMIT: "${SUPERSET_ROW_LIMIT}"
  SUPERSET_GOOGLE_TYPE:  "${SUPERSET_GOOGLE_TYPE}"
  SUPERSET_GOOGLE_PROJECT_ID:  "${SUPERSET_GOOGLE_PROJECT_ID}"
  SUPERSET_GOOGLE_PRIVATE_KEY_ID:  "${SUPERSET_GOOGLE_PRIVATE_KEY_ID}"
  SUPERSET_GOOGLE_PRIVATE_KEY:  "${SUPERSET_GOOGLE_PRIVATE_KEY}"
  SUPERSET_GOOGLE_CLIENT_EMAIL:  "${SUPERSET_GOOGLE_CLIENT_EMAIL}"
  SUPERSET_GOOGLE_CLIENT_ID:  "${SUPERSET_GOOGLE_CLIENT_ID}"
  SUPERSET_GOOGLE_AUTH_URI:  "${SUPERSET_GOOGLE_AUTH_URI}"
  SUPERSET_GOOGLE_TOKEN_URI:  "${SUPERSET_GOOGLE_TOKEN_URI}"
  SUPERSET_GOOGLE_AUTH_PROVIDER_X509_CERT_URL:  "${SUPERSET_GOOGLE_AUTH_PROVIDER_X509_CERT_URL}"
  SUPERSET_GOOGLE_CLIENT_X509_CERT_URL:  "${SUPERSET_GOOGLE_CLIENT_X509_CERT_URL}"
  SERVICE_URL: "${SERVICE_URL}"
  SUPERSET_AMQP_HOST: "${AMQP_HOST}"
  SUPERSET_AMQP_USER: "${AMQP_USER}"
  SUPERSET_AMQP_PASSWORD: "${AMQP_PASSWORD}"
  SUPERSET_AMQP_PORT: "${AMQP_PORT}"
  SUPERSET_AMQP_VHOST: "${AMQP_VHOST}"
  SUPERSET_NO_OF_WORKERS: "${SUPERSET_NO_OF_WORKERS}"
  SUPERSET_GUNICORN_LOG_LEVEL: "${SUPERSET_GUNICORN_LOG_LEVEL}"
  SUPERSET_GUNICORN_TIMEOUT: "${SUPERSET_GUNICORN_TIMEOUT}"
  SUPERSET_LOG_LEVEL: "${SUPERSET_LOG_LEVEL}"
  SUPERSET_S3_CACHE_BUCKET: "${SUPERSET_S3_CACHE_BUCKET}"
  SUPERSET_S3_CACHE_KEY_PREFIX: "${SUPERSET_S3_CACHE_KEY_PREFIX}"
  SUPERSET_SVC_LOGIN_ENCRYPTION_SECRET: "${SUPERSET_SVC_LOGIN_ENCRYPTION_SECRET}"
  SUPERSET_SVC_LOGIN_USER: "${SUPERSET_SVC_LOGIN_USER}"
  SUPERSET_SVC_LOGIN_AUTH_KEY: "${SUPERSET_SVC_LOGIN_AUTH_KEY}"
