apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}-monitoring
  labels:
    app: ${APP_NAME}-monitoring
spec:
  type: ClusterIP
  ports:
  - name: monitoring
    port: 443
    targetPort: 5555
  selector:
    app: ${APP_NAME}-monitoring